section{
    text-align: center;
}

.but1,.but2,.but3{
    color:white;
    background-color: rgb(70, 250, 0);
    border: 2px solid rgb(70, 200, 0);
    border-radius: 5px;
}

.day{
    color:white;
    background-color: white;
    border: 2px solid white;
}

.divtutr{
    width: 60%;
    color: white;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.fdc{
    display: flex;
}

.buttutr{
    background-color: white;
    border: 2px solid rgb(70, 200, 0);
    border-radius: 5px;
    padding: 3px;
    width: 90px;
}

.tutr{
    padding: 3px;
}

.jdy{
    border: 3px solid rgb(70, 200, 0);
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    width: 30%;
    padding: 1%;
    margin: 10px;
    height: 150px;
}


.hj1,.hj2,.hj3{
    text-align: center;
}
